@model Szakdoga.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
<div class="row h-100 justify-content-md-center">
    <div class="col-md-12">
        <div class="card bg-light w-25" style="margin:auto;">
            <div class="card-header py-4 text-center"><h3><strong>Jelszó módosítás</strong></h3></div>
            <div class="card-body">
                @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.OldPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row h-100 justify-content-md-center">
                            <input class="btn btn-primary" type="submit" value="Jelszó megváltoztatása">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
