@model IEnumerable<Szakdoga.Models.SportHirdetes>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (!Model.Any())
{
    <h1>Még nincs hirdetésed kirakva :/</h1>
}
else
{
    <div class="row h-100 align-content-center justify-content-center ">

            @foreach (var i in Model)
            {
                string teljesNev = i.User.Vezeteknev + " " + i.User.Keresztnev;
        <div class="col-md-6">
                    <div class="blog-card">
                        <div class="meta">
                            <div class="photo" style="background-image: url(@Url.Action("Photo", "Manage", new { UserId = User.Identity.GetUserId() }))"></div>
                            <ul class="details">
                                <li class="author">@teljesNev</li>
                                <li class="date">@DateTime.Parse(i.User.BirthDate.ToString()).ToShortDateString()</li>
                                <li class="tags">
                                    @i.User.Varos
                                </li>
                            </ul>
                        </div>
                        <div class="description">
                            <h1>@i.Nev</h1>
                            <h2>@i.Sport.Nev</h2>
                            <p> @i.Leiras</p>
                            <p class="read-more">
                            </p>
                            <p class="deleteing">
                            </p>
                        </div>
                    </div>
                    </div>
            }
</div>
}
