@model IEnumerable<Szakdoga.Models.ApplicationUser>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Felhasznalo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["result"] != null)
{
    <div>
        <div class="alert alert-success" role="alert">
            @TempData["result"]
        </div>
    </div>
}

@foreach (var i in Model)
{
    string teljesNev = i.Vezeteknev + " " + i.Keresztnev;
    <div class="row h-100 align-content-center justify-content-center ">
        <div class="col-12">
            <div class="card" style="width:400px;margin:auto">
                <img class="card-img-top" src="@Url.Action("Photo", "Manage", new { UserId = i.Id })" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">@teljesNev</h4>
                    <p><i class="fas fa-calendar-alt"></i> @DateTime.Parse(i.BirthDate.ToString()).ToShortDateString()</p>
                    <p><i class="fas fa-city"></i> @i.Varos</p>
                    <hr />
                    <p class="card-text">@i.Leiras</p>


                    @if (User.Identity.GetUserId() == i.Id || User.IsInRole(Szakdoga.Models.Roles.Admin))
                    {
                        @Html.ActionLink("Profil módosítása", "FelhaszaloEdit", "SportAdd", new { id = i.Id }, new { @class = "btn btn-primary" })

                        if (User.Identity.GetUserId() == i.Id)
                        {
                            <a href="/manage/changepassword" class="btn btn-primary" role="button">Jelszó megváltoztatása</a>
                            <br /><br />
                            <p>
                                @Html.ActionLink("Hirdetésim megtekintése", "Hirdeteseim", "Hirdetes", new { id = i.Id }, new { @class = "btn btn-primary" })
                            </p>
                        }
                    }
                    else
                    {
                        <a href="mailto: @i.Email" target="_top" class="btn btn-primary">Kapcsolatfelvétel</a>
                    }
                </div>
            </div>
        </div>
    </div>
}