@model IEnumerable<Szakdoga.Models.ApplicationUser>
@{
    ViewBag.Title = "felhasznalok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{int counter = 1; }
<h1 class="text-center">Felhasználók</h1>
<hr />
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Név</th>
                <th>Felhasználónév</th>
                <th>Email</th>
                <th>Születési Dátum</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var f in Model)
            {
                string teljesNev = f.Vezeteknev + " " + f.Keresztnev;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@teljesNev</td>
                    <td>@f.UserName</td>
                    <td>@f.Email</td>
                    <td>@f.BirthDate.ToString().AsDateTime().ToShortDateString()</td>
                    <td style="width:10%;">@Html.ActionLink("Módosítás", "FelhaszaloEdit", "SportAdd", new { id = f.Id }, new { @class = "btn btn-primary" })</td>
                    <td style="width:10%;">@Html.ActionLink("Törlés", "DeleteUser", "SportAdd", new { id = f.Id }, new { @class = "btn btn-danger" })</td>
                </tr>
                counter++;
            }
        <tbody>
    </table>
</div>

