@model Szakdoga.Models.SportViewModel
@{
    ViewBag.Title = "newSport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ujSport", "SportAdd", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{


    
    <h4>Sport hozzáadása</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Sport.Sportag, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sport.Sportag, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Sport.Sportag)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Sport.Nev, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Sport.Nev, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Sport.Nev)
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @Html.HiddenFor(m => m.Sport.Id)
            @Html.AntiForgeryToken()
            <input class="btn btn-primary" type="submit" value="Hozzáadás">
        </div>
    </div>
}

